extends ./base.jade
block content
    .container
        .text-center
            #mimapa
    .container
        h4 Sitios Recomendados
        if places.length > 0
            +putPlaces(places)
        else
            - console.log("Sitios recomendados vacio");

    //script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
    script(src="/lib/socket.io.js")
    script(src="/lib/main-map.js")