extends ./base.pug
block leaflet
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css")
block content
    .container
        #mimapa
        hr
        h4 Sitios Recomendados
        if places.length > 0
            +putPlaces(places)
        else
            - console.log("Sitios recomendados vacio");

    script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
    script(src="/socket.io/socket.io.js")
    script(src="/lib/main-map.js")