extends ./base.jade
block content
    .container
        .jumbotron.text-center
            #mapa-principal
    .container

        if names
            +putPlaces(names)
        else
        - console.log("Sitios recomendados vacio");


    script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v3")
    script(type="text/javascript" src="/lib/main-map.js")
    script(src="https://maps.googleapis.com/maps/api/js?callback=initMap")
