extends ./nologgedbase.jade
block content
    .container
        .jumbotron.text-center
            h1 Bienvenido a Turista
            h3 Inicia sesión para continuar 
                a(href="/login") Ingresar
                | ,
                p
                | o registrate 
                a(href="/createaccount") Crear cuenta