extends ./base.jade
block content
    div(class="container")
        header(class="page-header")
            h1 Turista
            p La aplicación para encontrar y compartir información turistica.
        div(class="row")
            div(class="main-map-container col-md-12" id="mapa-principal")
                img(class="main-map" src="imagenes/provincias/cochabamba.png" alt="[cbba]"  usemap="#mapaCocha" onclick="mostrarMouse(event)")
                map(name="mapaCocha")
                    area(shape="circle" coords="198,200,50" alt="Ayopaya" ondblclick ="mapade(-16.5 ,-66.5833)")
                    area(shape="circle" coords="373,200,60" alt="Chapare" ondblclick ="mapade(-16.8 ,-65.1333)")
                    area(shape="circle" coords="550,300,60" alt="Carrasco" ondblclick ="mapade(-17.5 ,-65)")
                    area(shape="circle" coords="563,460,40" alt="Campero" ondblclick ="mapade(-18.3333 ,-65)")
                    area(shape="circle" coords="430,410,40" alt="Mizque" ondblclick ="mapade(-17.9333 ,-65.3167)")
                    area(shape="circle" coords="450,275,38" alt="Tiraque" ondblclick ="mapade(-17.4167 ,-65.7167)")
                    area(shape="circle" coords="391,337,18" alt="Arani" ondblclick ="mapade(-17.5667 ,-65.7667)")
                    area(shape="circle" coords="345,337,10" alt="Punata" ondblclick ="mapade(-17.55 ,-65.8333)")
                    area(shape="circle" coords="325,332,10" alt="Jordan" ondblclick ="mapade(-17.5833 ,-65.9167)")
                    area(shape="circle" coords="325,380,20" alt="Arce" ondblclick ="mapade(-17.6667 ,-66)")
                    area(shape="circle" coords="275,300,10" alt="Cercado" ondblclick ="mapade(-17.3333,-66.1667)")
                    area(shape="circle" coords="265,350,20" alt="Capinota" ondblclick ="mapade(-17.7167 ,-66.2333)")
                    area(shape="circle" coords="235,285,20" alt="Quillacollo" ondblclick ="mapade(-17.4 ,-66.2833)")
                    area(shape="circle" coords="155,325,25" alt="Tapacari" ondblclick ="mapade(-17.5167 ,-66.6)")
                    area(shape="circle" coords="185,375,10" alt="Arque" ondblclick ="mapade(-17.8 ,-66.3833)")
                    area(shape="circle" coords="165,415,10" alt="Bolivar" ondblclick ="mapade(-17.9667 ,-66.5333)")
        div(class="row")
            div(class="col-md-4")
                img(src="imagenes/stub.png" class="img-thumbnail" style="width:100%")
            div(class="col-md-4")
                img(src="imagenes/stub.png" class="img-thumbnail" style="width:100%")
            div(class="col-md-4")
                img(src="imagenes/stub.png" class="img-thumbnail" style="width:100%")
    script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v3")
    script(type="text/javascript" src="/lib/main-map.js")
