extends ./base.jade
block content
    .container
        .jumbotron.text-center
            #mapa-principal
    .container
        if names
            h4 Sitios Recomendados
            for name in names
                .col-md-3.col-sm-6
                    .thumbnail.mini
                        img(src="stub.jpg" style="width:100%")
                        p #{name}
        else
        - console.log("Sitios recomendados vacio");


    script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v3")
    script(type="text/javascript" src="/lib/main-map.js")
    script(src="https://maps.googleapis.com/maps/api/js?callback=initMap")
