extends ./nologgedbase.jade
block content
    .container
        .text-center
            h1 Turista
        h4 Iniciar Sesión
        form(action="/app/sendtoken" method="post")
            p
                label(for="user") Email
                input#user.form-control(type="email" name="user" required=true)
            p.text-center
                input.btn.btn-default(type="submit" value="Ingresar")
            p
                | Si no tienes un cuenta, puedes crear una nueva 
                a(href="/createaccount") Crear cuenta