extends ./base.jade
block content
    form(action="/sendtoken" method="post")
        p
            label(for="user") Email
            br
            input(type="text" id="user" name="user" required)
        p
            input(type="submit" value="Enviar")
