extends .base.jade
block leaflet
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css")
block content
    .container
        #routemap

    script(src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js")
    script(src="/lib/routes.js")