extends ./base.jade
block content
    .container
        if success
            .alert.alert-success.
                <strong>Exito!</strong> La referencia fue guardada con exito.
        else
            .alert.alert-danger.
                <strong>Fallo!</string> No se pudo guardar la referencia.